
</div>
<div class="footer-padding"></div>
  <div class="footer">

    <div class="bottom-container">
      <a class="footer-link" href="https://www.facebook.com/dugge.raviteja">
        <img class="link-img" src="images/facebook-brands.svg" alt="" />
      </a>

        <a class="footer-link" href="https://twitter.com/DuggeRaviteja">
          <img class="link-img" src="images/twitter.svg" alt="">
        </a>
        <a class="footer-link" href="https://www.instagram.com/_raviteja_01">
          <img class="link-img"src="images/instagram.svg" alt="">
        </a>

        <a class="footer-link" href="https://www.linkedin.com/in/dugge-raviteja-789ravi">
          <img class="link-img"src="images/linkedin.svg" alt="">
        </a>
  <p class="copyright">© 2020 @Raviteja.</p>
</div>

         </div>

      </div>
  </div>
</div>
</body>
</html>
