<%- include("partials/header"); -%>



<h1>ABOUT US</h1>
<h5>    If You are searching for a pet then Your at coreect place .Find your loved Pet</h5>
  <div class="top-container">
    <div class="title-text">
      <img class="myimage" src="images/ravi.png" alt="">
      <h1 class="myname">RAVITEJA</h1>
      <h2 class="mytag">** a <span class="pro"> Pro</span>grammer. Web Developer **</h2>
    </div>
  </div>
  <hr>
  <div class="skills">
     <h2>*** My Skills. ***</h2>
     <div class="skill-row">
       <img class="code-img" src="images/design.jpg" alt="code-img">

       <h3>Design & Development</h3>
       <p>programming is my passion . I use latest and trending technology.I keep my code simple and clear so other can easily understand my code.
         Over time, I have gained a wealth of experience designing and developing web applications.</p>
     </div>
     </div>
     <div>
       <h1>Technology Used</h1>
       <ul>
         <li>HTML5</li>
         <li>CSS</li>
         <li>JAVASCIPT</li>
         <li>BOOSTRAP</li>
         <li>NODE JS,REACT,EJS</li>
         <li>MONGOOSE DB</li>
       </ul>

     </div>


     <section class="white-section" id="features">

       <div class="container-fluid">

         <div class="row">
           <div class="feature-box col-lg-4">
             <i class="icon fas fa-check-circle fa-4x"></i>
             <h3 class="feature-title">Easy to use.</h3>
             <p>So easy to use, even your dog could do it.</p>
           </div>

           <div class="feature-box col-lg-4">
             <i class="icon fas fa-bullseye fa-4x"></i>
             <h3 class="feature-title">Elite Clientele</h3>
             <p>We have all the dogs, the greatest dogs.</p>
           </div>

           <div class="feature-box col-lg-4">
             <i class="icon fas fa-heart fa-4x"></i>
             <h3 class="feature-title">Guaranteed to work.</h3>
             <p>Find the love of your dog's life or your money back.</p>
           </div>
         </div>


       </div>
     </section>


<%- include("partials/footer"); -%>
