<%- include("partials/header"); -%>



<h1>ABOUT US</h1>
<h5>    If You are searching for a pet then Your at coreect place .Find your loved Pet</h5>
  <div class="top-container">
    <div class="title-text">
      <img class="myimage" src="images/ravi.png" alt="">
      <h1 class="myname">RAVITEJA</h1>
      <h2 class="mytag">** a <span class="pro"> Pro</span>grammer. Web Developer **</h2>
    </div>
  </div>
  <hr>
  <div class="skills">
     <h2>*** My Skills. ***</h2>
     <div class="skill-row">
       <img class="code-img" src="images/design.jpg" alt="code-img">

       <h3>Design & Development</h3>
       <p>programming is my passion . I use latest and trending technology.I keep my code simple and clear so other can easily understand my code.
         Over time, I have gained a wealth of experience designing and developing web applications.</p>
     </div>
     </div>
     <div>
       <h1>Technology Used</h1>
       <ul>
         <li>HTML5</li>
         <li>CSS</li>
         <li>JAVASCIPT</li>
         <li>BOOSTRAP</li>
         <li>NODE JS,REACT,EJS</li>
         <li>MONGOOSE DB</li>
       </ul>

     </div>

<%- include("partials/footer"); -%>
