
<%- include("partials/header"); -%>


  <div class="card">
    <a href="/gallery"><img  class="dog-img"src="images/bird.jpg" alt=""></a>
  <pre class="dog-info">
      <h3>Parrot</h3>
  <b>Name    : Parrot</b>
  <b>weight  : 1-3pounds</b>
  <b>lifespan: 10-16yers</b>
  <b>Height  : 10-40Centimeters</b>
  <b>Price  :₹5000-₹10000</b>
  </pre>
</div>

<div class="card">
  <a href="/gallery"><img  class="dog-img"src="images/Woodpecker.jpg" alt=""></a>
<pre class="dog-info">
    <h3>Woodpecker</h3>
<b>Name    : Woodpecker</b>
<b>weight  : 1-4pounds</b>
<b>lifespan: 10-16yers</b>
<b>Height  : 10-40Centimeters</b>
<b>Price  :.....</b>
</pre>
</div>



<%- include("partials/footer"); -%>
