<%- include("partials/header"); -%>

<marquee>
  Click on the Image to go gallery of PETS.
</marquee>
<div class="justify">

  <div class="card">
    <h3>Parrot</h3>
    <a href="/gallery"><img class="dog-img" src="images/bird.jpg" alt=""></a>
    <p>
      Parrots, also known as psittacines are birds of the roughly 393 species in 92 genera comprising the order Psittaciformes, found mostly in tropical and
      subtropical regions. The order is subdivided into three superfamilies: the Psittacoidea ("true" parrots), the Cacatuoidea (cockatoos), and the Strigopoidea .
      One-third of all parrot species are threatened by extinction, with higher aggregate extinction risk (IUCN Red List Index) than any other comparable bird group.
      Parrots have a generally pantropical distribution with several species inhabiting temperate regions in the Southern Hemisphere, as well.
    </p>
    <h3>Behaviour</h3>
    <p>

      Numerous challenges are found in studying wild parrots, as they are difficult to catch and once caught, they are difficult to mark.
      Most wild bird studies rely on banding or wing tagging, but parrots chew off such attachments.
      Parrots also tend to range widely, and consequently many gaps occur in knowledge of their behaviour.
      Some parrots have a strong, direct flight. Most species spend much of their time perched or climbing in tree canopies.
      They often use their bills for climbing by gripping or hooking on branches and other supports.
    </p>
  </div>

  <div class="card">
    <h3>Woodpecker</h3>
    <a href="/gallery"><img class="dog-img" src="images/woodpecker.jpg" alt=""></a>
    <pre class="dog-info">

<b>Name    : Woodpecker</b>
<b>weight  : 1-4pounds</b>
<b>lifespan: 10-16yers</b>
<b>Height  : 10-40Centimeters</b>
<b>Price  :.....</b>
</pre>


  </div>
</div>



<%- include("partials/footer"); -%>
