<%- include("partials/header"); -%>

<div class="container">
  <p>
    Click on the Image to go gallery of PETS.
    </p>

<div class="card">
    <h3>Persian</h3>
<a href="/gallery"><img  class="dog-img" src="images/cat.jpg" alt=""></a>
<pre class="dog-info">
<b>Name    : Persian</b>
<b>weight  : 7-12 pounds</b>
<b>lifespan: 10-15yers</b>
<b>Height  : 12-16Inches</b>
<b>Price  :₹7000-₹10000</b>
</pre>
</div>

<div class="card">
    <h3>American Curl</h3>
<a href="/gallery"><img  class="dog-img"src="images/cat3.jpg" alt=""></a>
<pre class="dog-info">

<b>Name    : American Curl</b>
<b>weight  : 7-12 pounds</b>
<b>lifespan: 12-16yers</b>
<b>Height  : 10-14Inches</b>
<b>Price  :₹10000-₹12000</b>
</pre>
</div>

</div>




<%- include("partials/footer"); -%>
