<%- include("partials/header"); -%>
<marquee>
  Click on the Image to go gallery of PETS.
</marquee>

<div class="container-fluid">
<div class="card">
    <h3>Persian</h3>
<a href="/gallery"><img  class="dog-img" src="images/cat.jpg" alt=""></a>
<p>

  The Persian cat is a long-haired breed of cat characterized by its round face and short muzzle. It is also known as the "Persian Longhair" in the English-speaking countries.
 The first documented ancestors of the Persian were imported into Italy from Iran (historically known as Persia in the west) around 1620.
 Recognized by the cat fancy since the late 19th century, it was developed first by the English, and then mainly by American breeders after the Second World War.
 Some cat fancier organizations' breed standards subsume the Himalayan and Exotic Shorthair as variants of this breed, while others treat them as separate breeds.
The selective breeding carried out by breeders has allowed the development of a wide variety of coat colors, but has also led to the creation of increasingly flat-faced Persians.
</p>
<h3>Health and Characteristics</h3>
<p>
  Pet insurance data from Sweden puts the median lifespan of cats from the Persian group (Persians, Chinchilla, Himalayan and Exotic) at just above 12.5 years.
  76% of this group lived to 10 years or more and 52% lived to 12.5 years or more.
   Veterinary clinic data from England shows an average lifespan of 12–17 years, with a median of 14.1.
   A show-style Persian has an extremely long and thick coat, short legs, a wide head with the ears set far apart, large eyes, and an extremely shortened muzzle.
    The breed was originally established with a short muzzle, but over time, this characteristic has become extremely exaggerated, particularly in North America. Persian cats can have virtually any color or markings.

The Persian is generally described as a quiet cat. Typically placid in nature, it adapts quite well to apartment life.
  </p>
</div>
<hr />
<div class="card">
    <h3>American Curl</h3>
<a href="/gallery"><img  class="dog-img"src="images/cat3.jpg" alt=""></a>
<p>

  The American Curl is a breed of cat characterized by its unusual ears, which curl back from the face toward the center of the back of the skull.
   An American Curl's ears should be handled carefully because rough handling may damage the cartilage in the ear.
    The breed originated in Lakewood, California, as the result of a spontaneous mutation.
    The first American Curls appeared as strays on the door step of the Rugas in Lakewood, California in June 1981. The black female, named Shulamith, gave birth to a litter of cats with the same curled ears,
     and so became the ancestor of all American Curls today.
    </p>

    <h3>Health</h3>
    <p>
      Due to its large genetic pool with non-pedigree cats, the American Curl is generally a healthy breed.
       These cats' ears however require frequent cleaning to prevent infections, and need gentle handling to prevent damage. Various matings between curled cats and normal cats revealed a dominant inheritance of the curl gene. Sex linked distribution was not found.
        The mutant gene was designated as curl and is symbolized by Cu. Another mutation of the ear pinna was found in Scottish Fold cats. In these cats anomalies were rarely found when heterozygous, however in homozygous (FdFd) cats, animals suffer from dysplasia of the lower limbs and tail.
         So the question arises if homozygous curls (CuCu) could also be affected by cartilage formation defects and bone abnormalities. 
      </p>
</div>

</div>




<%- include("partials/footer"); -%>
