<%- include("partials/header"); -%>



<marquee>
  Click on the Image to go gallery of PETS.
</marquee>

<div class="container-fluid">

    <div class="card">
        <h3> Golden Retriever</h3>
        <a href="/gallery">
          <img  class="dog-img"src="images/g-retriever.jpg" alt="" >
        </a>
    <p>
      The Golden Retriever is a medium-large gun dog that was bred to retrieve shot waterfowl, such as ducks and upland game birds,
       during hunting and shooting parties.The name "retriever" refers to the breed's ability to retrieve shot game undamaged due to their soft mouth.
        Golden retrievers have an instinctive love of water, and are easy to train to basic or advanced obedience standards. They are a long-coated breed, with a dense inner coat that provides them with adequate warmth in the outdoors, and an outer coat that lies flat against their bodies and repels water.
        Golden retrievers are well suited to residency in suburban or country environments.
       They shed copiously, particularly at the change of seasons, and require fairly regular grooming. The Golden Retriever was originally bred in Scotland in the mid-19th century.
      </p>
      <h3>Health and life Span</h3>
      <p>The average lifespan for a Golden Retriever is about 11 to 12 years.
         The breed is susceptible to specific ailments, so pets should be taken to a veterinarian for yearly checkups.
Golden Retrievers are known to have genetic disorders and other diseases.
 Hip dysplasia is common in the breed; when buying a puppy, the pedigree should be known and be examined by the OFA or by PennHIP for hip disease.
 Obesity is also common in the breed because Golden Retrievers love to eat. Puppies should eat about three cups of food a day and adults three to five cups, depending on the food and how active the dog is.</p>
    </div>
    </div>

<hr />

<div class="container-fluid">
<div class="card">
    <h3>Shis Tzu</h3>
    <a href="/gallery"><img  class="dog-img"src="images/shis-tzu5.jpg" alt="" ></a>

<p>The Shih Tzu is a sturdy little dog with a short muzzle and large dark brown eyes. They have a soft and long double coat.
  Although sometimes long, a Shih Tzu will not always have extremely lengthy hair like the Pekingese (but with short legs).
   Some of them have more short, curly hair. This is purely a choice made by the owners.
    A Shih Tzu should stand no more than 26.7 cm at the withers and with an ideal weight of 4.5 to 7.3 kg. Floppy ears are covered with long fur, and the heavily furred tail is carried curled over the back.
     The coat may be of any color, though white and with blazes of grey are frequently seen. A very noticeable feature is the underbite, which is required in the breed standard.
   </p>
   <h3>Health and Life pan</h3>
   <p>
   Intervertebral disk disease in the dog is a common chondrodystrophic disorder manifested by acute back pain, loss of coordination, paresis, and loss of the
   ability to feel deep pain sensations. IVDD commonly occurs in certain toy breeds, such as Dachshund, Pekingese, French Bulldog, Beagle, Basset Hound, American
    Cocker spaniel, Shih Tzu, Lhasa Apso, and Welsh Corgi.
    Shih Tzu have a number of respiratory problems related to the shape of their face and head.
    It is very common for Shih Tzus to develop eye problems at any age, and even more so once they are older. Most veterinarians will recommend eye drops to assist with any eye irritations. Some dogs have allergies which causes excess discharge around the eye
 </p>
</div>
</div>










<%- include("partials/footer"); -%>
