<%- include("partials/header"); -%>




<div className="container-fluid m-2">
  <div className="row m-2">
      <div class="col-md-10 col-12 mx-auto m-2 p-2 text-center">



    <div class="gallery">
      <img src="images/shis-tzu.jpg" alt="Cinque Terre" class="img-size"><br />
     <a target="_blank" href="images/shis-tzu.jpg" download>
        Download
      </a>
      
    </div>

    <div class="gallery">
      <img src="images/shis-tzu2.jpg" alt="Cinque Terre" class="img-size"><br />
      <a target="_blank" href="images/shis-tzu2.jpg" download>Download
      </a>
    </div>
    <div class="gallery">
      <img src="images/pet.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/pet.jpg" download>
        Download
      </a>
    </div>
    <div class="gallery">
      <img src="images/shis-tzu3.jpg" alt="Forest"><br />
      <a target="_blank" href="images/shis-tzu3.jpg" download>
        Download
      </a>

    </div>

    <div class="gallery">
      <img src="images/shis-tzu4.jpg" alt="Northern Lights"><br />
      <a target="_blank" href="images/shis-tzu4.jpg" download>
        Download
      </a>

    </div>

    <div class="gallery">
      <img src="images/shis-tzu5.jpg" alt="Mountains"><br /><br />
      <a target="_blank" href="images/shis-tzu5.jpg" download>Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/g-retriever.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/g-retriever.jpg" download>
        Download
      </a>
    </div>
    <div class="gallery">
      <img src="images/g-retriever2.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/g-retriever2.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/g-retriever3.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/g-retriever3.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/g-retriever4.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/g-retriever4.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/g-retriever5.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/g-retriever5.jpg" download>
        Download
      </a>
    </div>


    <div class="gallery">
      <img src="images/cat.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/cat.jpg" download>
        Download
      </a>
    </div>
    <div class="gallery">
      <img src="images/cat2.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/cat2.jpg" download>
        Download
      </a>
    </div>
    <div class="gallery">
      <img src="images/cat3.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/cat3.jpg" download>
        Download
      </a>
    </div>


    <div class="gallery">
      <img src="images/cat4.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/cat4.jpg" download>
        Download
      </a>
    </div>


    <div class="gallery">
      <img src="images/cat5.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/cat5.jpg" download>
        Download
      </a>
    </div>


    <div class="gallery">
      <img src="images/bird.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/bird.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/Parrot.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/parrot.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/parrot2.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/parrot2.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/woodpecker.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/woodpecker.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/woodpecker2.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/woodpecker2.jpg" download>
        Download
      </a>
    </div>

    <div class="gallery">
      <img src="images/woodpecker3.jpg" alt="Mountains"><br />
      <a target="_blank" href="images/woodpecker3.jpg" download>
        Download
      </a>
    </div>
  </div>
</div>

</div>

<%- include("partials/footer"); -%>
