<%- include("partials/header"); -%>
    <h1>Some facts of the Dog</h1>

<div class="container">
    <p>
      <i>
        <span class="fletter">P</span>ets give people so much in terms of love and emotional support. Simply stroking a dog, cat, rabbit or even horse can lead to lower blood pressure and can combat stress. The feelings are reciprocated, as our touch can have therapeutic effects for our pets, particularly if they are feeling out of sorts.
  Companion animals can provide support and friendship to society’s lonely, sick or elderly. They can be friends to those who do not easily understand the world around them. Autistic children for instance can be guided gently from their closed,
   confusing and isolated worlds by a patient and loving dog or cat.
    Anxiety disorders and depression also can be eased by the loving presence of a pet.
</i>
</p>
<hr>

<div class="">
  <h2>Lifespan</h2>
  <p> <i>
    Different dog breeds have different lifespans. In general, smaller dogs live longer than bigger ones. The size and the breed of the dog change how long the dog lives, on average. Breeds such as the Dachshund usually live for fifteen years, Chihuahuas can reach age twenty. The Great Dane, on the other hand has an average lifespan of six to eight years; some Great Danes have lived for ten years..
  </i></p>
</div>




<hr />
<div class="">
<h2>Why Pets are called as Humans BestFriends</h2>
<p><i>
Dogs are often called "man's best friend" because they fit in with human life. Man refers to humankind and not just guys. Dogs can serve people in many ways. For example, there are guard dogs, hunting dogs, herding dogs, guide dogs for blind people, and police dogs. There are also dogs that are trained to smell for diseases in the human body or to find bombs or illegal drugs. These dogs sometimes help police in airports or other areas. Sniffer dogs (usually beagles) are sometimes trained for this job. Dogs have even been sent by Russians into outer space, a few years before any human being. The first dog sent up was named Laika, but she died within a few hours.
</i>
</p>
</div>
<hr>


<p>


<h2>Benifits Of Having PET</h2>

<ul class="Benifits">
  <li>Life is better with Pets</li>
  <li>Pets are brilliant companions</li>
  <li>They teach us valuable skills</li>
  <li>Pets are helpful in Decreasing blood pressure</li>
  <li>Pets avoid feelings of loneliness</li>
  <li>Increase opportunities for exercise and outdoor activities</li>
</ul>




  <h2>Pick the Right Pet</h2>
<p>

  Before adopting a new pet, make sure that it is the right one for you and your family.
     Do some research beforehand about the specific needs of the animal.
     Ask yourself these questions before getting a pet:
  </p>
     <ul class="Benifits">
      <li>How long will this animal live?</li>
        <li>What does the pet eat?</li>
          <li>How much exercise does the pet need?</li>
            <li>How large will it become?</li>
            <li>How much will it cost for veterinary care?</li>
            <li>Do I have enough time to properly care for a nd clean up after the pet?</li>
                <li>What type of habitat does this pet need to be healthy?</li>
                    <li>What type of exercise does this pet need?</li>
                        <li>Are pets allowed in my house, apartment?</li>
                            <li>Are there young children, older people, or people with weak immune systems who will care for or be around the pet?</li>
     </ul>

</div>












<%- include("partials/footer"); -%>
