<%- include("partials/header"); -%>


<section id="head-section" class="d-flex align-items-center mb-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <div class="row">
                                <div class="col-md-6 pt-5 mb-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column">
                                    <h2 class="text-home text-left">
                                Pets are part of our everyday lives and part of our families. They provide us with emotional support, reduce our stress levels.
                                    </h2>
                                    <div class="mt-4">
                                      <a href="#home_section" class="btn-start"> Let's Start </a>
                                      
                                  </div>
                                </div>
                                <div class="col-lg-5 m-auto order-1 order-lg-2 d-flex  mt-3 justify-content-center flex-column">
                                    <div class="c-1" data-aos="zoom-in">
                                      <div class="c-2 d-flex" data-aos="zoom-out">
                                    <img src="images/pets.svg" alt="vitamins" class="img-fluid animated" />
                                </div>
                                  </div>

                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<hr/>


            <div className="container-fluid mt-5">
              <div className="row">
                <div className="col-10 mx-auto">

                

<div class="col-10 mx-auto mt-3 mb-5  ">

<div class="row gy-3" id="home_section">


<div class="col-md-4 col-12 mx-auto">

  <div class="card" style="width: 18rem;" data-aos="fade-right">
    <img src="images/shis-tzu.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DOGS</h5>
        <p class="card-text"> Owning a dog can help people to recover from personal trauma, such as bereavement.</p>
      <a href="/dogs" class="btn btn-start">DOGS</a>
    </div>
  </div>
</div>


<div class="col-md-4 col-12 mx-auto "  data-aos="flip-right">
  <div class="card" style="width: 18rem;">
  <img src="images/cat.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">CATS</h5>
    <p class="card-text"> Cats are a low maintenance pet. They don't require formal training, they don't need to be taken out multiple times a day</p>
    <a href="/cats" class="btn btn-start">CATS</a>
  </div>
</div>
</div>


<div class="col-md-4 col-12 mx-auto"  data-aos="fade-left">
<div class="card" style="width: 18rem;">
  <img src="images/parrot2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">BIRDS</h5>
    <p class="card-text"> Birds live longer than many other pets when cared for and fed properly. </p>
    <a href="/birds" class="btn btn-start">BIRDS</a>
  </div>
</div>
</div>
</div>

</div>




<%- include("partials/footer"); -%>
