<%- include("partials/header"); -%>
    <h1>Some facts of the Dog</h1>

<div class="container">
    <p>
      <i>
      Today, some dogs are used as pets, others are used to help humans do their work. They are a popular pet because they are usually playful, friendly, loyal and listen to humans.
       Thirty million dogs in the United States are registered as pets,
       Dogs eat both meat and vegetables, often mixed together and sold in stores as dog food.
       Dogs often have jobs, including as police dogs, army dogs, assistance dogs, fire dogs,
       messenger dogs, hunting dogs, herding dogs, or rescue dogs.
They are sometimes called "canines" from the Latin word for dog - canis.
 Sometimes people also use "dog" to describe other canids, such as wolves. A baby dog is called a pup or puppy.
 A dog is called a puppy until it is about one year old.
</i>
</p>
<hr>

<div class="">
  <h2>Lifespan</h2>
  <p> <i>
    Different dog breeds have different lifespans. In general, smaller dogs live longer than bigger ones.[9] The size and the breed of the dog change how long the dog lives, on average. Breeds such as the Dachshund usually live for fifteen years, Chihuahuas can reach age twenty. The Great Dane, on the other hand has an average lifespan of six to eight years; some Great Danes have lived for ten years..
  </i></p>
</div>
<hr />
<div class="">
<h2>Why dogs are called as Humans BestFriends</h2>
<p><i>
Dogs are often called "man's best friend" because they fit in with human life. Man refers to humankind and not just guys (Old English). Dogs can serve people in many ways. For example, there are guard dogs, hunting dogs, herding dogs, guide dogs for blind people, and police dogs. There are also dogs that are trained to smell for diseases in the human body or to find bombs or illegal drugs. These dogs sometimes help police in airports or other areas. Sniffer dogs (usually beagles) are sometimes trained for this job. Dogs have even been sent by Russians into outer space, a few years before any human being. The first dog sent up was named Laika, but she died within a few hours.
</i>
</p>
</div>
<hr>
  </div>













<%- include("partials/footer"); -%>
