<%- include("partials/header"); -%>


<div class="cotainer-fluid ">

  <div class="col-md-7 col-12 mx-auto">

 
<div class="container-form">
  <div class="card log-in">
    <a href="/auth/google" class="btn btn-primary btn-google mt-2 mb-2"> <i class="fab fa-google"></i>   Login via google</a>
    <a href="/auth/facebook" class="btn btn-pr btn-facebook mb-3"> <i class="fab fa-facebook"></i>   Login via facebook</a>



    <form action="/login" method="post">


      <div class="wrapper">
        <div class="form-user">
          <div class="form-user"> <i class="fa fa-envelope"></i></div>
          <div class="form-box">
            <input name="username" class="form-control" placeholder="Email address" type="email" required>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="form-user">
          <div class="form-user"> <i class="fa fa-lock"></i>
          </div>
          <div class="form-box">
            <input name="password" class="form-control" placeholder="Password" type="password" required>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="form-user">
          <div class="form-box">
            <button type="submit" class="btn btn-primary"> Log in </button>
          </div>
        </div>
      </div>

      <p class="text-center">Don't have a account? <a class="re" href="/register">Register</a> </p>
    </form>

  </div>
</div>
</div>
</div>