
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">


  <link rel="icon" type="image" href="images/rlogo.png">
  <link rel="icon" href="favicon.ico">

  <style>

hr{
  border-style: none;
 border-top-style: dotted;
 border-color: #2BAB89;
 border-width: 7px;
 width: 5%;

}
    body{
    background-image:url("images/dog.jpg");
    background-position: center;
padding:30px;
    }
    .container-sign {
      padding:10px;
      font-family: Arial;
      width:50%;
      border:1px solid lightblue;
      margin: auto;
    }
    .text-sign {
      text-align:center;
    }

    .btn {
      background-color:white;
    }
  </style>



<body>

  <div class="container-sign">

    <div class="text-sign">


      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">DOGS LOVE</h1>
      <p class="lead">If you are a pet lover Login and explore</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

    </div>
  </div>
