<%- include("partials/header"); -%>

<div className="container-fluid m-2">
  <div className="row m-2">
      <div class="col-md-8 col-12 mx-auto m-2 p-2">

<div class="container-sign">
  <div class="text-sign">
    <i class="fas fa-lock fa-6x" style='color:lightblue'></i>
    <h1 class="display-3">PETS LOVE</h1>
    <p class="lead">If you are a pet lover Login and explore</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

</div>
</div>
</div>